@{
    ViewData["Title"] = "Index";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<h2>Person List</h2>


<button type="button" class="btn btn-info" id="ShowAddPersonModal">Add New Person</button>
<!-- Add Person Modal -->
<div class="modal fade" id="AddPersonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Add New Person</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="clearModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form id="AddPersonForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="ProfileImage">Profile Image:</label>
                        <input type="file" name="ProfileImage" class="form-control" id="ProfileImage" onchange="document.getElementById('FrontImagePrvAdd').src = window.URL.createObjectURL(this.files[0])" />
                        <img id="FrontImagePrvAdd" src="" style="width: 150px; height: 150px; margin: 10px" />
                    </div>
                    <div class="form-group">
                        <label for="PersonName">Person Name:</label>
                        <input type="text" class="form-control" id="PersonName" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" id="Email" />
                    </div>
                    <div class="form-group">
                        <label for="Department">Department:</label>
                        @Html.DropDownList("SelectedDepartment", ViewBag.ListOfDepartment as SelectList, "Select Department", new { @class = "form-control" })
                    </div>
                    <button type="button" class="btn btn-primary" id="AddPersonBtn">Add Person</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete modal-->
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Person Record</h4>
                <div class="modal-body">
                    Are you sure you want to delete
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
                    <a class="btn btn-primary" id="ConfirmDelete">Confirm</a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Person Modal -->
<div class="modal fade" id="UpdatePersonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateModalTitle">Update Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="UpdatePersonForm" enctype="multipart/form-data">
                    <input type="hidden" id="UpdatePersonId" />

                    <div class="form-group">
                        <label for="ProfileImage">Profile Image:</label>
                        <input type="file" name="ProfileImage" class="form-control" id="UpdateProfileImage" />
                        <img id="FrontImagePrvUpdate" src="" style="width: 150px; height: 150px; margin: 10px" data-original-src="" />
                    </div>
                    <div class="form-group">
                        <label for="UpdatePersonName">Person Name:</label>
                        <input type="text" class="form-control" id="UpdatePersonName" />
                    </div>
                    <div class="form-group">
                        <label for="UpdateEmail">Email:</label>
                        <input type="email" class="form-control" id="UpdateEmail" />
                    </div>
                    <div class="form-group">
                        <label for="NewDepartment">New Department:</label>
                        @Html.DropDownList("SelectedDepartment", ViewBag.ListOfDepartment as SelectList, "Select Department", new { @id = "UpdateDepartmentId", @class = "form-control" })
                    </div>
                    <button type="button" class="btn btn-primary" id="UpdatePersonBtn">Update Person</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Image Preview Modal -->
<div class="modal fade" id="ImagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ImageModalTitle">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="EnlargedImage" src="" style="width: 90%;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveImageBtn">Save Image</button>
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin-top:3%">


    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Person Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(person.ProfileImage))
                        {
                            <img src="@person.ProfileImage" alt="Image" class="img-thumbnail img-preview" style="max-width: 80px; max-height: 80px; cursor:pointer;" data-toggle="modal" data-target="#ImagePreviewModal" data-image-url="@person.ProfileImage" />

                        }
                        else
                        {
                            <img src="~/AppFile/Images/default.png" alt="Default Image" class="img-thumbnail" style="max-width: 80px; max-height: 80px;" />
                        }
                    </td>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@(person.Departments != null ? person.Departments.DepartmentNames : " ")</td>
                    <td>
                        <button class="update-btn btn btn-warning" data-id="@person.PersonId" data-profile-image="@person.ProfileImage" data-department-id="@person.DepartmentId" data-person-name="@person.PersonName" data-email="@person.Email">Update</button>
                        <button class="delete-btn btn btn-danger" data-id="@person.PersonId">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function clearModal() {
        document.getElementById('AddPersonForm').reset();
        document.getElementById('FrontImagePrv').src = "";
    }

    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('FrontImagePrv').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }

    }
    // Bu fonksiyon, resmin değişip değişmediğini kontrol eder
    function isProfileImageChanged() {
        var input = document.getElementById('UpdateProfileImage');
        return input.files && input.files[0];
    }
</script>

<script>
    //resim önizleme ve kaydetme
    $(document).ready(function () {
        $('.img-preview').click(function () {
            var imageUrl = $(this).data('image-url');
            $('#EnlargedImage').attr('src', imageUrl);
            $('#ImageModalTitle').text('Image Preview');
        });


        $('#SaveImageBtn').click(function () {
            var imageUrl = $('#EnlargedImage').attr('src');
            var a = document.createElement('a');
            a.href = imageUrl;
            a.download = 'image.png';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    });
</script>

<script>
    // Bu fonksiyon, resmin değişip değişmediğini kontrol eder
    function isProfileImageChangedUpdate() {
        var input = document.getElementById('UpdateProfileImage');
        return input.files && input.files[0] && $('#FrontImagePrvUpdate').data('original-src') !== input.files[0].name;
    }

    // Bu fonksiyon, modal açıldığında orijinal resmin URL'sini saklar
    $('#UpdatePersonModal').on('show.bs.modal', function () {
        var originalImageSrc = $('#FrontImagePrvUpdate').attr('src');
        $('#FrontImagePrvUpdate').data('original-src', originalImageSrc);
    });

    // Bu fonksiyon, resmi değiştirmeyi kontrol eder ve günceller
    function updatePreviewImageUpdate() {
        var input = document.getElementById('UpdateProfileImage');
        var preview = document.getElementById('FrontImagePrvUpdate');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            // If no new image is selected, keep the original image
            preview.src = $('#FrontImagePrvUpdate').data('original-src');
        }
    }
</script>




<script>
    $(document).ready(function () {


$('#AddPersonBtn').click(function () {
    var formData = new FormData();

    formData.append("PersonName", $('#PersonName').val());
    formData.append("Email", $('#Email').val());
    formData.append("DepartmentId", $('#SelectedDepartment').val());

    var profileImageInput = $('#ProfileImage')[0];
    if (profileImageInput.files.length > 0) {
        formData.append("ImageUpload", profileImageInput.files[0]);
    }

    $.ajax({
        url: '@Url.Content("~/Persons/AddPerson")',
        type: 'POST',
        data: formData,
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function (response) {
            if (response.success) {
                $('#AddPersonModal').modal('hide');
                location.reload();
            } else {
                alert('Error adding person. ' + response.errors.join(' '));
            }
        },
        error: function () {
            alert('Error adding person.');
        }
    });
});



        $('#ShowAddPersonModal').click(function () {
            $('#AddPersonModal').modal('show');
        });

        $('.update-btn').click(function () {
            $('#UpdatePersonModal').modal('show');

            var personId = $(this).data('id');
            var departmentId = $(this).data('department-id');
            var personName = $(this).data('person-name');
            var email = $(this).data('email');
            var image = $(this).data('profile-image')

            $('#UpdatePersonId').val(personId);
            $('#UpdatePersonName').val(personName);
            $('#UpdateEmail').val(email);
            $('#UpdateDepartmentId').val(departmentId);
            $('#FrontImagePrvUpdate').attr('src', image).attr('data-current-image', image);

        });

        $('#UpdatePersonBtn').click(function () {
    var formData = new FormData();

    formData.append("PersonId", $('#UpdatePersonId').val());
    formData.append("PersonName", $('#UpdatePersonName').val());
    formData.append("Email", $('#UpdateEmail').val());
    formData.append("DepartmentId", $('#UpdateDepartmentId').val());

            if (isProfileImageChanged()) {
                formData.append("ImageUpload", $('#UpdateProfileImage')[0].files[0]);
            }

    $.ajax({
        url: '@Url.Content("~/Persons/UpdatePerson")',
        type: 'POST',
        data: formData,
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function (response) {
            if (response.success) {
                $('#UpdatePersonModal').modal('hide');
                location.reload();
            } else {
                alert('Error updating person. ' + response.errors);
            }
        },
        error: function () {
            alert('Error updating person.');
        }
    });
});




        $('.delete-btn').click(function () {
            var personId = $(this).data('id');
            $('#ConfirmDelete').data('id', personId);
            $('#DeleteConfirmation').modal('show');
        });

        $('#ConfirmDelete').click(function () {
            var personId = $(this).data('id');

            $.ajax({
                url: '@Url.Content("~/")Persons/DeletePerson',
                type: 'POST',
                dataType: 'json',
                data: { PersonId: personId },
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert('Error deleting person. ' + response.errors.join(' '));
                    }
                },
                error: function () {
                    alert('Error deleting person.');
                }
            });
        });



    });
</script>
<script src="~/DataTables/datatables.min.js"></script>
<link href="~/DataTables/datatables.min.css" rel="stylesheet" />
@section scripts{
    <script>
        var table = new DataTable('#myTable');
    </script>

}   