@model IEnumerable<PersonAJAX.Models.Persons>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<!-- Image Preview Modal -->
<div class="modal fade" id="ImagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ImageModalTitle">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="EnlargedImage" src="" style="width: 90%;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveImageBtn">Save Image</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:3%">


    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Person Name</th>
                <th>Email</th>
                <th>Department</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(person.ProfileImage))
                        {
                            <img src="@person.ProfileImage" alt="Image" class="img-thumbnail img-preview" style="max-width: 80px; max-height: 80px; cursor:pointer;" data-toggle="modal" data-target="#ImagePreviewModal" data-image-url="@person.ProfileImage" />

                        }
                        else
                        {
                            <img src="~/AppFile/Images/default.png" alt="Default Image" class="img-thumbnail" style="max-width: 80px; max-height: 80px;" />
                        }
                    </td>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@(person.Departments != null ? person.Departments.DepartmentNames : " ")</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.img-preview').click(function () {
            var imageUrl = $(this).data('image-url');
            $('#EnlargedImage').attr('src', imageUrl);
            $('#ImageModalTitle').text('Image Preview');
        });


        $('#SaveImageBtn').click(function () {
            var imageUrl = $('#EnlargedImage').attr('src');
            var a = document.createElement('a');
            a.href = imageUrl;
            a.download = 'image.png';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    });
</script>

<script src="~/DataTables/datatables.min.js"></script>
<link href="~/DataTables/datatables.min.css" rel="stylesheet" />
@section scripts{
    <script>
        var table = new DataTable('#myTable', {
            "pageLength": 5,
            "lengthMenu": [[5, 10, 30, -1], [5, 10, 30, "All"]],

        });

    </script>

}